@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');


*{
	box-sizing:border-box;
}

body{
	margin:0;
	padding:0;
}

/*Navbar style start*/

.navbar {
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color:rgb(255, 255, 255);
}

.brand-title {
	font-size:1.5rem;
	margin:.5rem;
    margin: auto;
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	display:flex;
}

.navbar-links li {
	list-style:none;
}

.navbar-links li a {
	text-decoration:none;
	color:rgb(26, 26, 26);
	padding:1rem;
	display:block;
}

.navbar-links li:hover {
	background-color:rgb(251, 232, 62);
}




.toggle-button{
	position:absolute;
	top:.75rem;
	right:1rem;
	display:none;
	flex-direction:column;
	justify-content:space-between;
	width: 30px;
	height:21px;
	
}

.toggle-button .bar {
	height:3px;
	width:100%;
	background-color:rgb(26, 26, 26);
	border-radius:10px;
}


.logo{
    width: 175px;
    height:60px;
    margin-top: 5px;
    margin-left: 100px;
}
.logo:hover{
    -webkit-filter: drop-shadow(2px 2px 2px #666666);
    filter: drop-shadow(2px 2px 2px #fbdf3f );
}

/*Navbar style end*/


/*body style start*/
.container{
    font-family: 'Barlow Condensed', sans-serif;
}

.dublin{
    text-align: center;
    margin-top: 50px;
    border-bottom: 3px solid #faf620;
    padding-bottom: 30px;
    font-family: 'Caveat', cursive;
}
h1{
    font-size: 55px !important;
}

p{
    font-size: 19px;
}
h2{
    font-weight: bold !important;
}


.tola{
    float: left;
    width: 70%;
    height: 250px;
    margin-top: 240px;
    line-height: 35px;
}
.tolaimg{
    width: 260px;
    height: 100%;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
}


.pinimg{
    width:20px ;
    height: 20px;
    float: left;
}


.george{
    float: left;
    width: 70%;
    height: 250px;
    margin-top: 150px;
    line-height: 35px;
    margin-left: 310px;
}
.georgeimg{
    width: 260px;
    height: 100%;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
}



.bubble{
    float: left;
    width: 70%;
    height: 250px;
    margin-top: 150px;
    line-height: 35px;
}
.bubbleimg{
    width: 260px;
    height: 100%;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
}


.cuts{
    float: left;
    width: 70%;
    height: 250px;
    margin-top: 150px;
    line-height: 35px;
    margin-left: 310px;
}
.cutsimg{
    width: 260px;
    height: 100%;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
}



.zero{
    float: left;
    width: 70%;
    height: 250px;
    margin-top: 150px;
    line-height: 35px;
}
.zeroimg{
    width: 260px;
    height: 100%;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
}


.marker{
    float: left;
    width: 70%;
    height: 250px;
    margin-top: 150px;
    line-height: 35px;
    margin-left: 310px;
}
.markerimg{
    width: 260px;
    height: 100%;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
}


.love{
    float: left;
    width: 70%;
    height: 250px;
    margin-top: 150px;
    line-height: 35px;
}
.loveimg{
    width: 260px;
    height: 100%;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
}


.barge{
    float: left;
    width: 70%;
    height: 250px;
    margin-top: 150px;
    line-height: 35px;
    margin-left: 310px;
}
.bargeimg{
    width: 260px;
    height: 100%;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
}


.memas{
    float: left;
    width: 70%;
    height: 250px;
    margin-top: 150px;
    line-height: 35px;
}
.memasimg{
    width: 260px;
    height: 100%;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
}


.anne{
    float: left;
    width: 70%;
    height: 250px;
    margin-top: 150px;
    line-height: 35px;
    margin-left: 310px;
}
.anneimg{
    width: 260px;
    height: 100%;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
}


.token{
    float: left;
    width: 70%;
    height: 250px;
    margin-top: 150px;
    line-height: 35px;
}
.tokenimg{
    width: 260px;
    height: 100%;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
}


.shisha{
    float: left;
    width: 70%;
    height: 250px;
    margin-top: 150px;
    line-height: 35px;
    margin-left: 310px;
}
.shishaimg{
    width: 260px;
    height: 100%;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
}


.pyg{
    float: left;
    width: 70%;
    height: 250px;
    margin-top: 150px;
    line-height: 35px;
}
.pygimg{
    width: 260px;
    height: 100%;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
}




/*body style end*/

































































@media (max-width: 750px) {
    .innerdiv{
        width: 99%;
        margin-left: 10px;
        margin-bottom: 300px;
    }

    .tola{
        margin-bottom: 350px;
    }

    .imgs{
        width:95%;
        margin-bottom: 20px;
    }


    .dublin{
        width:60%;
    }
   





    .logo{
        margin: auto;
    }

	.toggle-button{
		display:flex;
	}
	
	.navbar-links{
		display:none; 
	}
	
	.navbar{
		flex-direction:column;
		align-items:flex-start;
	}
	
	.navbar-links ul {
		flex-direction:column;
		width:100%;
	}
	
	.navbar-links li {
		text-align:center;
	}
	
	.navbar-links li a {
		padding:.5rem 1rem;
	}
	
	.navbar-links.active{
		display:flex;
	}
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border:3px solid #ffffef;
    box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(
        45deg,
        #faf620,
        #f3f3f3
    );
    border-radius: 4px;
}

